/*
GPT-4 did almost all of the CSS.
Life is too short to understand how top: 50%
interacts with transform: translateY(-50%)
*/

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

main {
	height: 100%;

	display: grid;
	grid-template-columns: 1fr 1fr;
	align-content: center;
}

img {
	max-width: 100%;
}
