body {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 2fr 1fr;

	margin: 0;
	height: 100vh;

	align-items: center;
	justify-items: center;

	background: black;
}

main {
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
	height: 100%;
	width: 100%;

	background: url(https://0x0.st/X8oT.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

footer {
	grid-column: 1 / span 1;
	grid-row: 2 / span 1;
	height: 100%;
	width: 100%;

	background: url(https://0x0.st/X8oT.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

div#sidebar {
	grid-column: 2 / span 1;
	grid-row: 1 / span 2;
	height: 100%;
	width: 100%;

	background: url(https://0x0.st/X8oT.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
